{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nal Writers</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pagestyle.css' %}">
</head>
<body>
    <header>
        {% include 'header-section.html' %}
    </header>

    <main>
        <div class="page-topic">
            {{ page.headline }}
        </div>

        <div class="author">
            <div class="name">Written by <span>&nbsp;{{ page.author }}</span></div>
            <div class="date">{{ page.created }}</div>
        </div>

        <div class="category">
            {{ page.category.name }}
        </div>

        <div class="page-image">
            <figure>
                <img src="{{page.main_image.url}}" alt="{{ page.main_image_title }}">
                <figcaption>{{ page.main_image_title }}</figcaption>
            </figure>
        </div>

        <div class="paragraphs">
            {% for paragraph in first_paragraphs %}

                <p>{{paragraph}}</p>

            {% endfor %}


            <div class="sub-image">
                <figure>
                    <img src="{{page.sub_image.url}}" alt="{{page.sub_image_title}}">
                    <figcaption>{{page.sub_image_title}}</figcaption>
                </figure>
            </div>

            {% for paragraph in last_paragraphs %}

                <p>{{paragraph}}</p>

            {% endfor %}
        </div>

        <div class="comment-section">

            <div class="section-title">
                Comments Section
            </div>

            <div class="comment-input">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="comment" id="comment" placeholder="Enter your opinion">
                    <input type="submit" value="Submit" id="submit">
                </form>
            </div>

            <div class="comments">
                {% for comment in comments %}
                    <p>{{comment.text}}</p>
                {% endfor %}

                <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eos!</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis obcaecati vel praesentium iusto sapiente nostrum.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quo officia dignissimos sit consequuntur. Dolor a illum, esse, natus quasi dolore culpa nesciunt repellendus sed ab blanditiis voluptas voluptate qui.</p> -->

            </div>
        </div>

    </main>

    <footer>
        {% include "footer-section.html" %}
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>